.link {
    text-decoration: none;

    .user-item {
        width: 300px;
        max-width: 85vw;
        height: 80px;
        margin: 10px 5px;
        padding: 10px;
        background: #525252;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;


        &:hover {
            transform: translateY(-4px);
            background-color: orange;

            .content {
                .name {
                    color: #fff;
                }

                .email,
                .places {
                    color: #000;
                }
            }
        }

        .avatar-container {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar {
                width: 70px;
                height: 70px;
            }
        }

        .content {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .name {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 700;
                color: orange;
            }

            .email {
                margin-bottom: 5px;
                color: #fff;
                font-size: 0.7rem;
                font-weight: 600;
            }

            .places {
                margin-top: auto;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}